.on_before_30 {
	background:#3bcf8f;
	text-align:center;
	color : #ffffff;
}
.on_before_60 {
	background:#5be1ff;
	text-align:center;
	color : #ffffff;
}
.on_before_90 {
	background:#fc5d82;
	text-align:center;
	color : #ffffff;
}
.on_before_120 {
	background:#ef2b58;
	text-align:center;
	color : #ffffff;
}
.on_after_120 {
	background:#b20028;
	text-align:center;
	color : #ffffff;
}
.paid {
	background:#b20028;
	text-align:center;
	color : #269389;
}