.o_list_view.table td.on_before_30 {
	background:#ffffff;
	text-align:left;
	color : #333;
}
.o_list_view.table td.on_before_60 {
	background:#e8f713;
	text-align:left;
	color : #333;
}
.o_list_view.table td.on_before_90 {
	background:#ff6060;
	text-align:left;
	color : #ffffff;
}
.o_list_view.table td.on_before_120 {
	background:#e01a1a;
	text-align:left;
	color : #ffffff;
}
.o_list_view.table td.on_after_120 {
	background:#a30000;
	text-align:left;
	color : #ffffff;
}

.o_list_view.table td.paid {
    background:#269389;
	text-align:left;
    color:#ffffff;
}